# URL de l'API backend
# En développement : http://localhost:5000
# En production : laisser vide pour utiliser des URLs relatives (même domaine)
REACT_APP_API_URL=

# Build optimisations
GENERATE_SOURCEMAP=false